<li class="list-item">
    <strong class="list-name">{{name}}</strong>
    <p class="list-description">{{description}}</p>
    <span class="list-id">ID: {{id}}</span>
    <div class="list-action-container">
        <span class="list-price">{{price}}₴</span>
        <a class="list-button" href="/product-edit?id={{id}}">Редагувати</a>
    </div>
</li>